<section id="about" class="add-padding bg-color2">
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-6 scrollimation fade-right d1"> -->
        <img class="img-responsive polaroid" src="<%= @user.image_path %>" alt="" />
      <!-- </div>   -->
        <!-- <p><%#= link_to image_tag(@user.image_path), @user.gh_url, class: 'img-responsive polaroid' %></p> -->
      <!-- <div class="col-sm-6 scrollimation fade-left d3"> -->
        <h1 class='big-text'> <%= @full_name %></h1>

        <h2>Located in <%= @neighborhood %></h2> 
        <% if @user.email.size > 0 %>  
         <br>
        <h2>Email: <%= @user.email %></h2>
        <% end %>
        <br>
        <ul>
        <% if current_user && current_user.id == @user.id %>
        <h2>Your projects</h2> 
          <% @user.sort_projects_by_push.reverse.each do |project| %>
            <% if project.recent? %>
              <h3> <%= link_to project.name, project.archive_url %></h3>
                  <%= form_for project, url: user_project_path(@user.id, project.id), remote: true do |f| %>
                    <%= f.hidden_field :collaborator_wanted, :value => 'toggle' %>
                    <% if project.collaborator_wanted %> 
                    <h3> <%= f.button '<i class="fa fa-user blue"></i>'.html_safe %> </h3>       
                    <% else %>
                    <h3> <%= f.button '<i class="fa fa-user"></i>'.html_safe %> </h3>
                    <% end %>
                  <% end %>
            <% end %>  
          <% end %>

        <% else %>
        <h2><%= @user.first_name %> is looking for collaboration on:</h2> 
          <% @user.sort_projects_by_push.reverse.each do |project| %>
            <% if project.recent? && project.collaborator_wanted %>
              <h3> <%= link_to project.name, project.archive_url %> </h3>
            <% end %>  
          <% end %>

        <% end %>  
        </ul>


        <!-- </div> -->
        
        </div>
        
      </div>
    
    </section>
