<section id="portfolio" class="add-padding">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 scrollimation fade-right d1 user-pic">
        <img class="img-responsive polaroid" src="<%= @user.image_path %>" alt="" />
      </div>  
      <div class="col-sm-6 scrollimation fade-left d3">
        <br>
        <div class='text-center'>
          <% if current_user %>
            <h1 class='big-text' data-latitude='<%= @user.latitude %>' data-longitude='<%= @user.longitude %>' data-user='<%= @user.first_name %> <%= @user.last_name %>' data-zip='<%= @user.zipcode %>' data-currlat='<%= @curr_user.latitude %>' data-currlng='<%= @curr_user.longitude %>'><%= @full_name %></h1>
          <% else %>
            <h1 class='big-text' data-latitude='<%= @user.latitude %>' data-longitude='<%= @user.longitude %>' data-user='<%= @user.first_name %> <%= @user.last_name %>' data-zip='<%= @user.zipcode %>'><%= @full_name %></h1>        
          <% end %>  
        <h3>Located in <%= @neighborhood %></h3> 
        <h3>Primary language: <%= @user.most_common_language %></h3>
        </div>
        <% if current_user && current_user == @user %>
          <% if @user.email %>
            <% if @user.email.size > 0 %> 
              <div class="get-in-touch-hover">
            <% if current_user %>
              <div class='yelp-info btn btn-color2 btn-block'> 
              </div>
            <% end %>
              </div>
          <% end %>
        <% end %>
          <br>
      </div>

       <%else%>
        <% if @user.email %>
          <% if @user.email.size > 0 %> 
          <div class="get-in-touch-hover">
            <a class="btn btn-color2 btn-block email-button" href="mailto:<%= @user.email %>?subject=Let's collaborate!" target="_blank"><i class="fa fa-paper-plane" style="color: white;"></i>Get in Touch
            </a>
            <% if current_user %>
              <div class='yelp-info btn btn-color2 btn-block'> 
                <h4 class='yelp-header'>Nearby Cafes with Wifi</h4>
                <% @cafe_1 = @wifi_spots[0] %>
                <% @cafe_2 = @wifi_spots[1] %>
                <div id='yelp-container'>
                  <%= link_to @cafe_1[2], :target => "_blank" do %>
                    <img class="yelp-image" src="<%= @cafe_1[3] %>">                  
                    <h2 class='hover-mask yelp-mask-header project-title project-description-footer yelp-details yelp-details-header'><%= @cafe_1[0] %></h2>
                    <h2 class='hover-mask yelp-mask-footer project-title project-description-footer yelp-details yelp-details-footer'><%= @cafe_1[1] %> Stars</h2>
                  <% end %>
                </div>
                <div id='yelp-container'>
                  <%= link_to @cafe_2[2], :target => "_blank" do %>
                    <img class="yelp-image" src="<%= @cafe_2[3] %>">                  
                    <h2 class='hover-mask yelp-mask-header project-title project-description-footer yelp-details yelp-details-header yelp-mask-header-2'><%= @cafe_2[0] %></h2>
                    <h2 class='hover-mask yelp-mask-footer project-title project-description-footer yelp-details yelp-details-footer yelp-mask-footer-2'><%= @cafe_2[1] %> Stars</h2>
                  <% end %>
                </div>
            <% end %>
          </div>
          <% end %>
        <% end %>
        <br>
      </div>
    </div>
  </div>
<%end%>
<!-- ////////////MODAL/////// -->
  <center>
    <% if current_user == @user %>
      <br><br><br><br><br><br><br><br><br><br><br>
      <h1 style='padding-bottom:10px'>Your Projects</h1>
    <% else %>
      <h1 style='padding-bottom:10px'><%= @user.first_name %>'s Projects</h1>
    <% end %>
  </center>
  <div class="modal-show">
     <% @user.all_projects.each do |project| %>
    <div class="modal fade" id="basicModal-<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><%= project.name %></h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <%= form_for project, url: user_project_path(@user.id, project.id), remote: true do |f| %>
                  Please give a brief decription of your project below:
                  <%= f.text_field :description, class: 'form-control' %>Describe what your looking for in a collaborator on this project:
                  <%= f.text_field :need_help_with, class: 'form-control' %>
                  <%= check_box_tag(:collaborator_wanted, true)%>
                  Open to collaboration!
                  <span class="help-block"></span>
              </div>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= f.submit "Save Changes", class: "btn btn-success"  %>
            </div>
                <%end%>
          </div>
        </div>
      </div>
      <%end%>
    </div>
<!-- ==============================================
START PROJECTS ITEM
=============================================== -->    

<div class="container masonry-wrapper masonry-images-margin">    
  <div id="projects-container" class="masonry" style="visibility: visible; position: relative;  width: 100%">

  <% @user.all_projects.each do |project| %>

    <article class= "project-item" style='float:left' data-id="<%= project.id %>" >

    <% if project.collaborator_wanted %>
      <center><h2 class='project-tile-name collaborator_wanted'><%= project.name %></h2></center>
      <center><h2 class='project-tile-status collaborator_wanted'>HELP WANTED</h2></center>
    <% else %>
      <center><h2 class='project-tile-name'><%= project.name %></h2></center>
      <center><h2 class='project-tile-status'></h2></center>
    <% end %>
    
    <% binding.pry %>
    <% if @language_logos.include?(project.language.downcase) %>

      <% if project.collaborator_wanted %>
        <img class="img-responsive project-image project-language collaborator-wanted" src='/assets/<%= project.language.downcase %>.png'>
      <% else %>
        <img class="img-responsive project-image project-language" src='/assets/<%= project.language.downcase %>.png'>
      <% end %>
    <% else %>
      <% if project.collaborator_wanted %>
        <img class="img-responsive project-image project-language collaborator-wanted" src='/assets/flatiron.png'>
      <% else %>
        <img class="img-responsive project-image project-language" src='/assets/flatiron.png'>
      <% end %>
    <% end %>

    <%= link_to project.archive_url do %>
      <div class="hover-mask">
        <h2 class="project-title project-tile-header"><%= project.name %></h2><!--Project Title -->
        <div class='project-description'>
          <p class='overview'><%=project.description%> </p>
          <h2 class='project-title project-description-header'>Written In:</h2>
            <p class='project-languages'> <%=project.language %> </p>
          <h2 class='project-title project-description-header'>Need Help With:</h2>
            <p class='need-help'><%=project.need_help_with%> </p>
        </div>
      </div>
    <% end %>
    <% if current_user && current_user == @user %>
      
      <a href="#" data-toggle="modal" data-target="#basicModal-<%= project.id %>" >
        <div class="hover-mask bottom-mask mask-orange">
          <h2 class='project-title project-description-footer'>Edit</h2>
        </div>
      </a>
    <% else %>
      <a href="mailto:<%= @user.email %>?subject=Helping Out With <%= project.name %>">
      <%#= link_to "mailto:#{@user.email}?" do %>
        <div class="hover-mask bottom-mask">
          <h2 class='project-title project-description-footer'>Get In Touch!</h2>
        </div>
      </a>
    <% end %>
  </article>


  <% end %>
  </div>
</div> 

<!-- ==============================================
END PROJECT ITEMS
=============================================== -->

</section>

<!-- ==============================================
START MAP 
=============================================== -->

<div id="page-loader" style: "display: none">
  <div class="page-loader-gif"></div>
</div>

<section id="map">    
  <div id="gmap"></div>
</section>  

<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<% if current_user && @curr_user.zipcode != @user.zipcode%>
  <script>

    var lat = $("h1.big-text").data('latitude')
    var lng = $("h1.big-text").data('longitude')
    var curr_user_lat = $("h1.big-text").data('currlat')
    var curr_user_lng = $("h1.big-text").data('currlng')
    var mapstyles = [ { "stylers": [ { "saturation": -100 } ] } ];
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var rendererOptions = {
      suppressMarkers: true,
      polylineOptions: {
        strokeColor: "#F5B133"
      }
    };
    // var mapPoint = {
    //     'lat': lat,
    //     'lng': lng,
    //     'infoText': '<h5>'+name+'</h5>',
    //     'linkText':'Find me here!',
    //     'mapAddress': zip,
    //     'zoom' : 15,
    //     'icon': '/assets/pin-dark.png'
    //   };

    function initialize(lat, lng) {
      directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
      var current_location = new google.maps.LatLng(lat, lng);
      var mapOptions = {
        zoom:15,
        center: current_location,
        styles: mapstyles
      };
      map = new google.maps.Map(document.getElementById('gmap'), mapOptions);
      directionsDisplay.setMap(map);
    }

    function calcRoute(curr_user_lat, curr_user_lng, lat, lng) {
      var origin      = new google.maps.LatLng(curr_user_lat, curr_user_lng);
      var destination = new google.maps.LatLng(lat, lng);
      
      var request = {
          origin:      origin,
          destination: destination,
          travelMode:  google.maps.TravelMode.TRANSIT
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    }
    // 
    // var marker = new google.maps.Marker({
    //   position: pointLatLng, 
    //   map: map, 
    //   title:mapPoint.linkText,
    //   icon: mapPoint.icon
    // });
    
    // var mapLink = 'https://www.google.com/maps/preview?ll='+mapPoint.lat+','+mapPoint.lng+'&z=14&q='+mapPoint.mapAddress;
    
    // var html = '<div class="infowin">'
    //     + mapPoint.infoText
    //     + '<a href="'+mapLink+'" target="_blank">'+mapPoint.linkText+'</a>'
    //     + '</div>';

    // google.maps.event.addListener(marker, 'mouseover', function() {
    //   infoWindow.setContent(html);
    //   infoWindow.open(map, marker);
    // });

    // google.maps.event.addListener(marker, 'click', function() {
    //   window.open(mapLink,'_blank');
    // });
    // 

    google.maps.event.addDomListener(window, 'load', calcRoute(curr_user_lat, curr_user_lng, lat, lng));

    initialize(lat, lng);
    calcRoute(curr_user_lat, curr_user_lng, lat, lng);
  </script>

<% else %>
   <script>
     var lat = $("h1.big-text").data('latitude')
      var lng = $("h1.big-text").data('longitude')
      var zip = $("h1.big-text").data('zip')
      var name = $("h1.big-text").data('user')
      var mapPoint = {
        'lat': lat,
        'lng': lng,
        'infoText': '<h5>'+name+'</h5>',
        'linkText':'Find me here!',
        'mapAddress': zip,
        'zoom' : 15,
        'icon': '/assets/pin-dark.png'
      };
    </script>
<% end %>  
<!-- ==============================================
END MAP 
=============================================== -->
