<section id="services" class="add-padding">
    
      <div class="container">
        
        <h1 class="section-title big-text scrollimation fade-up move-header-down">Contact Us</h1>
        
        <div class="row">
        
          <div class="col-sm-4 service-item color3 scrollimation scale-in">
            <%= link_to '#' do %>
              <div class="service-icon"><i class="fa"> <%= image_tag('sarahprofile.jpg', :class => 'round-profile-image') %></i></div>
            <% end %>
            <h3>Sarah Stroh</h3>
            
            <p>
              <ul class="social-links">
                  <li><a href="https://github.com/strohy1210"><i class="fa fa-github fa-fw"></i></a></li>
                  <li><a href="http://linkedin.com/pub/sarah-stroh/11/410/34a"><i class="fa fa-linkedin fa-fw"></i></a></li>
              </ul>
            </p>
            
            
          </div>
        
          <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
          <%= link_to "#" do %>
            <div class="service-icon"><i class="fa"><%= image_tag('joeprofile.jpg', :class => 'round-profile-image') %></i></div>
          <% end %>  
            <h3>Joe Cardarelli</h3>
            
            <p>
              <ul class="social-links">
                  <li><a href="http://github.com/joejohnrobert"><i class="fa fa-github fa-fw"></i></a></li>
                  <li><a href='http://linkedin.com/pub/joseph-cardarelli/9/675/821'><i class="fa fa-linkedin fa-fw"></i></a></li>
              </ul>
            </p>
            
            
          </div>
          
          <div class="col-sm-4 service-item color2 scrollimation scale-in d2">
          <%= link_to 'http://linkedin.com/in/kevinhylant/' do %>
            <div class="service-icon"><i class="fa "> <%= image_tag('kevinprofile.jpg', :class => 'round-profile-image') %></i></div>
          <% end %>  
            
            <h3>Kevin Hylant</h3>
            
            <p>
              <ul class="social-links">
                  <li><a href="http://twitter.com/kevinhylant"><i class="fa fa-twitter fa-fw"></i></a></li>
                  <li><a href="https://plus.google.com/+KevinHylant/about"><i class="fa fa-google-plus fa-fw"></i></a></li>
              </ul>
            </p>
            
          </div>
          
        </div>
        
      </div>
    
    </section>

<!-- 
<div class="container-fluid title">
  <div class="row">
    <div class="col-sm-12">
      <h2> Contact Us </h2>
    </div>
  </div>
</div>

<br><br>
<div class="container5">
  <div class="container4">
    <div class="container3">
      <div class="container2">
        <div class="container1">  
          <div class="col1">
            <h1> </h1>
          </div>
          <div class="col2">
            <h1>Joe Cardarelli</h1>
            <h6><a href="mailto:josephcardarelli@gmail.com?subject=LetsGrabCoffee">josephcardarelli@gmail.com</a></h6>
            <%= link_to 'https://www.linkedin.com/' do %>
              <%= image_tag('joeprofile.jpg', :class => 'round-profile-image') %>
            <% end %>
              <ul class="social-links">
                <li><a href="http://daniellecs.github.io/"><i class="icon-tumblr"></i></a></li>
                <li><a href="https://plus.google.com/+KevinHylant/about"><i class="icon-googleplus"></i></a></li>
             </ul>
          </div>
          <div class="col3">
             <h1>Kevin Hylant</h1>
             <h6><a href="mailto:kevin.hylant@gmail.com?subject=LetsGrabCoffee">kevin.hylant@gmail.com</a></h6>            
            <%= link_to 'http://linkedin.com/in/kevinhylant/' do %>
              <%= image_tag('kevinprofile.jpg', :class => 'round-profile-image') %>
            <% end %>
            <ul class="social-links">
               <li><a href="http://twitter.com/kevinhylant"><i class="icon-twitter"></i></a></li>
               <li><a href="https://plus.google.com/+KevinHylant/about"><i class="icon-googleplus"></i></a></li>
            </ul>
          </div>

          <div class="col4">
             <h1>Sarah Stroh</h1>
             <h6><a href="mailto:dcohenshohet@gmail.com?subject=LetsGrabCoffee">strohsm88@gmail.com</a></h6>
             <%= link_to 'http://linkedin.com/pub/sarah-stroh/11/410/34a' do %>
                <%= image_tag('sarahprofile.jpg', :class => 'round-profile-image') %>
              <% end %>
              <ul class="social-links">
                <li><a href="http://blog.flatironlabs.com/"><i class="icon-tumblr"></i></a></li>
               <li><a href="https://plus.google.com/"><i class="icon-googleplus"></i></a></li>
             </ul>
          
          </div>
          <div class="col5">
            <h1> </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>
   -->
<!-- </div> -->

