<div id="page-loader" style: "display: none">
<div class="page-loader-gif"></div>
</div>

<h3>Pair up with local developers to collaborate on projects that fit your interests</h3>

<br>
<wrapper class='text-center'>

<% if !current_user || current_user.location %>
  <div class="search-zipcode">
    <h4>Find Projects Near You!</h4>
  <%= form_tag searches_path, :method => 'get' do %>
    <%= notice %>
    <p><%= text_field_tag :query, params[:query], :placeholder => "Enter your zip code" %></p>
    <%= submit_tag "Git Paired" %>

  <% end %>
  </div>

<% elsif current_user && !current_user.location %>
  <div class="location-popup">
    <h4>Enter your zipcode to complete registration!</h4>
    <%= form_tag("/users/#{current_user.id}", method: "patch") do %>
      <%= text_field_tag :location, params[:location], placeholder: "Enter your zip code" %>
      <%= submit_tag "Git Paired" %>
    <%end%>
  </div>
<% end %>

</wrapper>
<br><br><br>
<!-- ==================  MAP   ================== -->
<section id="map">    
  <div id="gmap"></div>
</section>  



<script src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script>
  var mapPoint = {
    'lat': 40.705313,
    'lng': -74.013911,
    'zoom' : 15,
    'icon': 'assets/images/pin-dark.png'
  };  
</script>
