<div id="page-loader" style: "display: none">
<div class="page-loader-gif"></div>
</div>

<br><br><br><br><br>
<section id="twitter" class="bg-color1">
  <br><br>
  <wrapper class='text-center'>
    <div class='homepage'>
      <h3>Find & Collaborate with Local Devs</h3>      
      <h1 class='big-text' >Find Projects Near You!</h1>
    </div>
      <% if !current_user %>
        
        <%= form_tag searches_path, :method => 'get' do %>
          <%= notice %>
          <%= text_field_tag :query, params[:query], :placeholder => "Enter a Zip Code" , :style=>'color:black' %>
          <%= submit_tag "Git Paired" %>

        <% end %>

      <% elsif current_user && !current_user.zipcode %>
        <br>
        <h4 class='homepage' style='text-center'>Set Your Home Zipcode to Get Started</h4>
        <br>
        <form id="contact-form" class="text-center col-sm-2 centered center-form scrollimation fade-left d3 in" > 
         
        <div style='vertical-align'> 
          <%= form_tag("/users/#{current_user.id}", method: "patch" ) do %>        
            <%= text_field_tag :zipcode, params[:zipcode], placeholder: "Enter a Zip Code", :class=>'form-group search-bar' %>

            <%= submit_tag "Git Paired!", :class => "btn btn-color2 btn-block" %>
          <% end %>
        </div>

        </form>

      <% end %>

      <!-- THIS DOESNT SHOW WHEN I MOVE IT TO ELSE STATEMENT -->
      


  </wrapper>  
              <!-- ORIGINAL ELSE STATEMENT -->
      <!-- <h1 class='big-text' style='color:white'>Enter Your Zip Code</h1> -->
        <%#= form_tag("/users/#{current_user.id}", method: "patch" ) do %>
          <%#= text_field_tag :zipcode, params[:zipcode], placeholder: "Enter Your Zip Code" %>
          <%#= submit_tag "Git Paired", :class => "btn btn-color2 btn-block" %>
        <%# end %>
      

  <br><br><br><br><br><br><br><br>
</section>

<!-- ==================  MAP   ================== -->
<section id="map">    
  <div id="gmap"></div>
</section>  



<script src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script>
  var mapPoint = {
    'lat': 40.705313,
    'lng': -74.013911,
    'zoom' : 15,
    'icon': 'assets/images/pin-dark.png'
  };  
</script>
