
<!-- ==============================================
START LANGUAGE FILTERS
=============================================== -->    
<section id="portfolio" class="add-padding">
<div id="filter-works">
  <ul>
    <li class="active scrollimation fade-right d1">
        <a href="#" data-filter="*">All</a>
    </li>

    <% @language_filters.each_with_index do |language, i| %>
      <% if i%4 == 0 %>
        <% @fade = @fade_options[1] %>
      <% elsif i%4 == 1 %>  
        <% @fade = @fade_options[2] %>
      <% elsif i%4 == 2 %>
        <% @fade = @fade_options[3] %>
      <% elsif i%4 == 3 %>
        <% @fade = @fade_options[0] %>
      <% end %>

      <li class= "scrollimation <%= @fade %>" >
          <a href="#" data-filter=".<%= language %>"><%= language %></a>
      </li>
    <% end %>
  </ul>
</div>
<!-- ==============================================
END LANGUAGE FILTERS
=============================================== -->    


<!-- ==============================================
START PROJECTS ITEM
=============================================== -->    

  <div class="container masonry-wrapper masonry-images-margin">    
    <div id="projects-container" class="masonry" style="visibility: visible; position: relative;  width: 100%">

      <% @users.each do |user| %>
          <article class= "project-item <%= user.add_languages %> masonry-brick" style='float:left' >
            <%= link_to user_path(user) do %>          
              <img class="img-responsive project-image" src="<%= user.image_path %>"><!--Project thumb -->
              <div class="hover-mask">
                  <h2 class="project-title"><%= "#{user.first_name} #{user.last_name}" %></h2><!--Project Title -->          
                  <p class='distance-descriptor'>(~<%= user.proximity.round(1) %> miles)</p><!--Project Subtitle -->
              </div>
            <% end %>     
          </article>
        <% end %>
      
<!-- ==============================================
END PROJECT ITEMS
=============================================== -->
      

    </div>
  </div>
</section>







<!-- TO DOs -->
<!-- Get image to flip over to show project details -->
<!-- Create a grid of images that resize for mobile friendly view -->