<!DOCTYPE html>
<html>
<head>
  <title>GitPaired</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container-fluid'>
  <div class='menu-wrapper'>
    <ul class="nav-list text-center effect">
      <li><%= link_to "ABOUT", about_path()%></li>
      <li><%= link_to "CONTACT", contact_path()%></li>
    <% if logged_in? %>
      <li><%= link_to "YOUR PROFILE", user_path(current_user) %></li>
      <li><%= link_to "LOGGED IN AS #{current_user.first_name}", "#" %></li>
      <li><%= link_to 'LOG OUT', logout_path %></li>
    <% else %>
      <li><%= link_to "SIGN UP", "/auth/github" %></li>
      <li><%= link_to "LOG IN", "/auth/github" %></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="text-center">
  <h1><%= link_to 'GIT//PAIRED', root_path(),:class => 'logo' %><h1>
</div>
<br>


<%= yield %>

<!-- =========== FOOTER ===========  -->
<footer id="main-footer" class="add-padding bg-color3 border-top-color2">
  <div class="container">
    <ul class="social-links text-center">
      <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul>
    <br>
    <p class="text-center">&copy; 2014. GitPaired </p>
    <p class="text-center"><a href="https://wrapbootstrap.com/user/qthemes" target="_blank">ALL YOUR RIGHTS ARE BELONG TO US</a></p>
    <br>
  </div>
</footer>


</body>
</html>
